* {
    font-family: 'Lato', sans-serif;
}

/*main {*/
    /*!*display: flex;*!*/
    /*flex-direction: column;*/
    /*margin: 0 auto;*/
/*}*/

.blue-section, .white-section, .grey-section {
    height: 80vh;
}

.blue-section {
    background: #4F8EB2;
    opacity: 0.8;
    color: #ffffff;
}

.white-section {
    background: #ffffff;
    opacity: 1;
    color: #878A8F;
}

.grey-section {
    background: #878A8F;
    opacity: 1;
    color: #ffffff;
}

.lightgrey-section, .lightgrey-section a  {
    background: #d6d6d6;
    opacity: 1;
    color: #878A8F;
}

.page-header {
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
}

.feather {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 100%;
    padding: 5%;
}

.main-logo {
    float: right;
    padding-top: 72px;
}

.main-logo span {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #4F8EB2;
    margin-right: .5em;
    line-height: 50px;
    /*text-shadow: 0 0 1px #4F8EB2, 0 0 2px #4F8EB2, 0 0 3px #4F8EB2;*/
    font-family: 'Mukta Malar', sans-serif;
    font-weight: bold;
}

.main-logo__square {
    float: right;
    width: 30px;
    height: 50px;
    background: #878A8F;
}

.main-navigation {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.main-navigation li {
    margin-bottom: 30%;
}

.main-navigation a {
    text-transform: uppercase;
    font-weight: bold;
    /*font-size: 1.2em;*/
    color: #888B90;
}

.content__header {
    margin-bottom: 4%;
    text-transform: uppercase;
    width: 100%;
}

.about {
    text-align: justify;
}

.members__box {
    /*width: 200px;*/
    /*max-width: 100%;*/
    padding: 3%;
    text-align: center;
    margin-bottom: 4%;
}

.concerts caption {
    text-align: left;
    /*font-size: 1.2em;*/
    padding-bottom: 2%;
}

.concerts table {
    text-align: left;
}

.concerts td:first-of-type {
    padding-right: 1em;
}

.concerts td {
    font-size: 1.5rem;
}

.archive {
    /*align-self: flex-end;*/
    margin-top: 25%;
}

footer h3 {
    padding: 4%;
}

.logo-stamp, .social, .contact, .files {
    text-align: center;
}

.logo-stamp {
    padding: 2%;
}

.social, .contact, .files {
    padding: 1% 0;
}

.logo-stamp img{
    max-width: 100px;
}

.contact  i, .files i, .social i {
    width: 40px;
    background: #888B90;
    color: white;
    font-size: 20px;
    margin: 10px;
    border-radius: 50%;
}

.social i:before, .files i:before, .contact i:before  {
    line-height: 40px;
}

.contact ul {
    width: 290px;
    display: table;
    margin: 0 auto;
}

.contact li {
    float: left;
}

.files {

}

.copyright {
    text-align: center;
    padding: 2%;
    margin-top: 10%;
}

@media (min-width: 576px) {
    .main-logo {
        padding-top: 72px;
    }

    .main-logo span {
        font-size: 2.5rem;
        margin-right: .5em;
        line-height: 70px;
    }

    .main-logo__square {
        width: 30px;
        height: 70px;
    }
}

@media (min-width: 768px) {
    .main-logo {
        padding-top: 72px;
    }

    .main-logo span {
        font-size: 4.5rem;
        margin-right: .5em;
        line-height: 90px;
    }

    .main-logo__square {
        width: 50px;
        height: 90px;
    }
}
